.resaltado { background: yellow; }

.activo { color: white; background: #0077cc; }

.negrita { font-weight: bold; }

#elemento-destacar.destacado { border: 1px solid orange; }
#elemento-destacar > .destacado { border: 1px solid orange; }

.tareas li { margin-bottom: 5px; }