.resaltado { background: yellow; }

.activo { color: white; background: #0077cc; }

.negrita { font-weight: bold; }

#elementos-destacar .destacado { border: 1px solid pink; }

#elementos-destacar > .destacado { border: 1px solid red; }

#elementos-destacar > .destacado ~ .destacado { border: 1px solid blue; }
#elementos-destacar > .destacado + .destacado { 
    border: 1px solid green; }

.tareas li { margin-bottom: 5px; }

*{
    color: aqua;
}

body{
    background-color: black;
}