.resaltado { background: yellow; }

.activo { color: rgb(97, 255, 35); background: #0077cc; }

.negrita { font-weight: bold; }

.destacado { border: 1px solid orange; }

.tareas li { margin-bottom: 5px; }